<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/r-headers') -%>
    <main>
      <!-- Title -->

         <div class="container-fluid shadow-soft  border-light">
        <div class="container">
          <div class="row">
          <div class="col text-center hero d-flex justify-content-start align-items-center">
             
            <h2 class="h1 text-soft mb-0">Scholarships</h2>
              
            </div>
            </div>
        </div>
      </div>
      <div class="section bg-primary text-dark section-lg pt-0 pb-2">
         
        <div class="container">
          <!-- Title -->
          <div class="row">
            
          </div>
          <!-- End of title-->
          <div class="row mb-5">
            <% posts.forEach(post => { %>
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card bg-primary shadow-inset border-light mb-4">
                <div class="card-body main-cards p-5">
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="overflow-hidden mb-1" style="height: 31px;" >
                      <a href="/post/<%= post._id %>">
                      <h3 class="h4 card-title mb-3"><%= post.title %></h3>
                    </a>
                    </div>
                    
                    <%if(post.DACA){%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert shadow-soft border-light rounded-circle"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="DACA friendly"
                    />
                    <%} else{%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert  shadow-soft border-light rounded-circle"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="not DACA friendly"
                    />
                    <%}%>
                  </div>
                  <div class="d-flex flex-column">
                    <span class="card-text small ">
                      <a class="color" href="/page/<%= post.postedBy %>"
                       data-toggle="tooltip"
                      data-placement="right"
                      title="See profile" >
                      <%= post.userName %>
                      </a>
                
                  </div>
                  <a href="/post/<%= post._id %>">
                    <p class="card-text mt-3 mb-3 overflow-hidden" style="height: 50px;"><%= post.caption%></p>
                  </a>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <%if(user){%>
                    <a
                      href="/post/<%= post._id %>"
                      class="btn btn-info btn-sm mr-3"
                      >More</a
                    ><%} else {%>
                    <a
                      href="/login"
                      class="btn btn-primary btn-info btn-sm mr-3"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Log In to Learn More"
                      >More</a
                    >
                    <%}%>

                    <span class="card-text small text-danger"
                      ><span class="far fa-calendar-alt mr-2"></span>Apply by:
                      <%= post.expirationDate %></span
                    >
                    <!-- <a href="#" class="small"
                      ><span class="far fa-comments mr-2"></span>21</a
                    > -->
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer') -%> <%- include('partials/scripts') -%>
  </body>
</html>
