<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/r-headers') -%>

    <main>
      <div class="section bg-primary text-dark section-lg">
        <div class="container">
          <!-- Title -->
          <div class="row">
            <div class="col text-center">
              <h2 class="h5 mb-6">
                Welcome to <%=posts[0].userName%>'s profile
              </h2>
            </div>
          </div>
          <!-- End of title-->
          <div class="row mb-5">
            <% posts.forEach(post => { %>
            <div class="col-12 col-lg-6">
              <div class="card bg-primary shadow-inset border-light mb-4">
                <div class="card-body p-5">
                  <div class="d-flex justify-content-between align-items-start">
                    <a href="/post/<%= post._id %>">
                      <h3 class="h4 card-title mb-3"><%= post.title %></h3>
                    </a>
                    <%if(post.DACA){%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="DACA friendly"
                    />
                    <%} else{%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="not DACA friendly"
                    />
                    <%}%>
                  </div>
                  <span class="card-text small">
                    <% if (post.postedBy == user._id) {%>
                    <a href="/provider-profile %>">
                      <h3 class="h5 card-title mt-4"><%= post.userName %></h3>
                    </a>

                    <%} else {%>
                    <a href="/page/<%= post.postedBy %>"
                      ><h3 class="h5 card-title mt-4">
                        <%= post.userName %>
                      </h3></a
                    >

                    <%}%>
                    <!-- <span class="far fa-calendar-alt mr-2"></span>15 March 2020 -->
                  </span>
                  <a href="/post/<%= post._id %>">
                    <p class="card-text mt-4 mb-3"><%= post.caption%></p>
                  </a>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      href="/post/<%= post._id %>"
                      class="btn btn-primary btn-sm mr-3"
                      >Learn More</a
                    >
                    <span class="card-text small"
                      ><span class="far fa-calendar-alt mr-2"></span>Apply by:
                      <%= post.expirationDate %></span
                    >
                    <!-- <a href="#" class="small"
                      ><span class="far fa-comments mr-2"></span>21</a
                    > -->
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') -%> <%- include('partials/scripts') -%>
  </body>
</html>
