<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/prof-header') -%>

    <main>
         <!-- Title -->

         <div class="container-fluid shadow-soft  border-light">
        <div class="container">
          <div class="row">
          <div class="col text-center hero d-flex justify-content-start align-items-center">
             
            <h2 class="h1 text-soft mb-0">Welcome <%= user.name%></h2>
              
            </div>
            </div>
        </div>
      </div>

      <div class="section bg-primary text-dark section-lg pt-0 pb-2">
        <div class="container">
          <div class="row"></div>
          <!-- End of title-->
          <div class="row mb-5">
            <% posts.forEach(post => { %>
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card bg-primary shadow-inset border-light mb-4">
                <div class="card-body main-cards p-5">
                  <div class="d-flex justify-content-between align-items-start">

                    <!-- post title -->
                    <div class="overflow-hidden mb-1" style="height: 31px;">
                     <a href="/post/<%= post._id %>">
                      <h3 class="h4 card-title mb-3"><%= post.title %></h3>
                    </a>
                    </div>
                   
                    <%if(post.DACA){%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert shadow-soft rounded-circle"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="DACA friendly"
                    />
                    <%} else{%>
                    <img
                      src="/img/daca<%=post.DACA%>.png"
                      class="dacaAlert"
                      alt=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="not DACA friendly"
                    />
                    <%}%>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="card-text small">
                      <a href="/page/<%= post.postedBy %>"
                        ><%= post.userName %></a
                      >
                    </span>
                  </div>

                  <a href="/post/<%= post._id %>">
                    <p class="card-text mt-3 mb-3 overflow-hidden" style="height: 50px;"><%= post.caption%></p>
                  </a>

                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      href="/post/<%= post._id %>"
                      class="btn btn-primary btn-info btn-sm mr-3"
                      >More</a
                    >

                    <div class="d-flex  flex-row align-items-center justify-content-end">
                      <span class="card-text small"
                        ><span class="far fa-calendar-alt mr-2"></span>Apply by:
                        <%= post.expirationDate %></span
                      >
                      <form
                        action="/post/deletePost/<%= post._id %>?_method=DELETE"
                        method="POST"
                        class="col-3"
                      >
                        <button
                          role="button"
                          class="bg-transparent  btn btn-icon-only btn-pill btn-primary "
                          type="submit"
                        ><span class="fa fa-trash color-red"></span></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') -%> <%- include('partials/scripts') -%>
  </body>
</html>
